@keyframes move {
  0% {
    left: 0;
    transform: scaleX(1); /* Mirando a la derecha */
  }
  49% {
    transform: scaleX(1); /* Mantiene mirando a la derecha antes de voltear */
  }
  50% {
    left: calc(100% - 48px);
    transform: scaleX(-1); /* Voltea para mirar a la izquierda */
  }
  99% {
    transform: scaleX(-1); /* Mantiene mirando a la izquierda antes de voltear */
  }
  100% {
    left: 0;
    transform: scaleX(1); /* Vuelve a mirar a la derecha */
  }
}

.animate-move {
  animation: move 4s linear infinite;
}

/*Animacion React-----------------*/
body,
html{
      margin: 0;
      padding: 0;
      height: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

svg {
      display: block;
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
}
  
.scrollElement {
      position: absolute;
      height: 6000px;
      width: 100px;
      top: 0;
      z-index: 0;
}


.btn {
    position: fixed;
    bottom: 5%;
    right: 0px;
    transform: translateX(-50%);
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 0.9rem;
    padding: 0.5rem 0.7em;
    background-color: transparent;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    transition: all .3s;
    z-index: 11;
}

.btn_works {
    left: 100px;
    right: unset;
    text-decoration: none;
}

.btn:hover {
    background: #ffffff;
    color: #1B1734;
}

.text-split {
  position: fixed; /* Fija el contenedor en la pantalla */
  top: 50%; /* Centra verticalmente */
  left: 50%; /* Centra horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta el centrado */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  width: 100%; /* Ocupa el ancho completo */
  text-align: center; /* Centra el texto */
  pointer-events: none; /* Evita que el contenedor intercepte eventos del mouse */
  display: flex;
  flex-direction: column;
}